{% block body %}
    <h1>Lista użytkowników</h1>
    <ul>
            <li>
                {{ user.name }} ({{ user.email }})
                <a href="#"">Edit</a>
            </li>
    </ul>
{% endblock %}